<div class="main">
    <div class="main-width">
        <div class="card">
            <section class="section-title">
                <h3>Cadastrar Profissional</h3>
            </section>
            <div class="grid-um">
                <mat-form-field appearance="outline" class="span8">
                    <mat-label>Nome<span class="required">*</span></mat-label>
                    <input matInput [(ngModel)]="doctor.name">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Especialidade<span class="required">*</span></mat-label>
                    <mat-select [(ngModel)]="doctor.speciality">
                        @for (specialty of specialties; track doctor.speciality) {
                            <mat-option [value]="specialty.especialidade">
                                {{ specialty.especialidade }} 
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>CRM<span class="required">*</span></mat-label>
                    <input matInput placeholder="000000/UF" [(ngModel)]="doctor.crm">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Contato</mat-label>
                    <span matPrefix>+55 &nbsp;</span>
                    <input type="tel" matInput placeholder="00 0000-0000" [(ngModel)]="doctor.contact">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Email<span class="required">*</span></mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="doctor.email">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Data da Contratação</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="doctor.createAt">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Início do Atendimento</mat-label>
                    <input matInput placeholder="HH:mm" type="text" [(ngModel)]="doctor.startService">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Fim do Atendimento</mat-label>
                    <input matInput placeholder="HH:mm" type="text" [(ngModel)]="doctor.endService">
                </mat-form-field>
            </div>
    
            <div>
                <label for="status">Status</label>
                <div>
                    <mat-radio-group [(ngModel)]="doctor.status" aria-label="Selecione uma opção">
                        <mat-radio-button value="ACTIVE">Ativo(a)</mat-radio-button>
                        <mat-radio-button value="INACTIVE">Inativo(a)</mat-radio-button>
                    </mat-radio-group> 
                </div>
            </div>
    
            <div class="div-column-gap">
                <label for="daysOfWeek">Dias de Atendimento</label>
                <div class="days-checkbox-group">
                        @for (day of daysOfWeek; track day.name) {
                            <mat-checkbox (click)="setDaysOfWeek($event, day.name)">
                                {{ day.name }}
                            </mat-checkbox>
                        } 
                </div>
            </div>
        </div>
        <section class="footer-buttons">
            <div> 
                <button mat-fab extended color="tertiary" [routerLink]="['/crud-list']">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Voltar
                </button>
            </div>
            <div> 
                <button *ngIf="!isEditUrl" mat-fab extended color="primary" (click)="createOrUpdateDoctor()">
                    <mat-icon>check</mat-icon>
                    Salvar Cadastro
                </button>
            </div>
    </section>
    </div>
</div>
