<div class="main">
    <div class="main-width">
        <div class="card">
            <section class="section-title">
                <h3>Cadastrar Profissional</h3>
            </section>
            <div class="grid-um">
                <mat-form-field appearance="outline" class="span8">
                    <mat-label>Nome<span class="required">*</span></mat-label>
                    <input type="text" matInput placeholder="Insira seu nome completo">
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Especialidade<span class="required">*</span></mat-label>
                    <mat-select>
                        @for (specialty of specialties; track specialty.especialidade) {
                            <mat-option value="{{ specialty.especialidade }}">
                                {{ specialty.especialidade }} 
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4" type="text">
                    <mat-label>CRM<span class="required">*</span></mat-label>
                    <input type="text" matInput placeholder="Ex: CMR/PE123456" >
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Contato</mat-label>
                    <span matPrefix>+55 &nbsp;</span>
                    <input type="tel" matInput placeholder="0 0000-0000">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Email<span class="required">*</span></mat-label>
                    <input type="email" matInput placeholder="Ex: pat@example.com">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Data da Contratação</mat-label>
                    <input  matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Início do Atendimento</mat-label>
                    <input matInput placeholder="HH:mm" type="time">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Fim do Atendimento</mat-label>
                    <input matInput placeholder="HH:mm" type="time">
                </mat-form-field>
            </div>

            <div class="organize">
                <label for="status">Status</label>
                    <mat-radio-group aria-label="Selecione uma opção" class="checkbox-group">
                        <mat-radio-button value="true">Ativo(a)</mat-radio-button>
                        <mat-radio-button value="false">Inativo(a)</mat-radio-button>
                    </mat-radio-group> 
            </div>
          <div class="organize">
            <label for="daysOfWeek">Dias de Atendimento</label>
            <div class="div-column-gap">
                <div class="checkbox-group">
                        @for (day of daysOfWeek; track day.name) {
                            <mat-checkbox value="{{day.name}}">
                                {{ day.name }}
                            </mat-checkbox>
                        } 
                </div>
            </div>
          </div>

        </div>
        <section class="footer-buttons">
            <div> 
                <button mat-fab extended color="tertiary" [routerLink]="['/crud-list']">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Voltar
                </button>
            </div>
            <div> 
                <button mat-fab extended color="primary">
                    <mat-icon>check</mat-icon>
                    Salvar Cadastro
                </button>
            </div>
    </section>
    </div>
</div>
