<div class="main">
    <div class="main-width">
        <div class="card">
            <section class="section-title">
                <h3>{{ isEdit ? 'Editar Profissional' : 'Cadastrar Profissional' }}</h3>
            </section>
            <div class="grid-um">
                <mat-form-field appearance="outline" class="span8">
                    <mat-label>Nome<span class="required">*</span></mat-label>
                    <input matInput [(ngModel)]="profissional.name" name="name" required>
                </mat-form-field>
                
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Especialidade<span class="required">*</span></mat-label>
                    <mat-select [(ngModel)]="profissional.specialty" name="specialty" required>
                        <mat-option *ngFor="let specialty of specialties" [value]="specialty.especialidade">
                            {{ specialty.especialidade }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>CRM<span class="required">*</span></mat-label>
                    <input matInput [(ngModel)]="profissional.crm" name="crm" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Contato</mat-label>
                    <span matPrefix>+55 &nbsp;</span>
                    <input type="tel" matInput [(ngModel)]="profissional.phone" name="phone" placeholder="00 00000-0000">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Email<span class="required">*</span></mat-label>
                    <input type="email" matInput [(ngModel)]="profissional.email" name="email" placeholder="Ex. joao@exemplo.com" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Data da Contratação</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="profissional.hiringDate" name="hiringDate">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                  
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Início do Atendimento</mat-label>
                    <input matInput [(ngModel)]="profissional.startTime" name="startTime" placeholder="HH:mm">
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="span4">
                    <mat-label>Fim do Atendimento</mat-label>
                    <input matInput [(ngModel)]="profissional.endTime" name="endTime" placeholder="HH:mm">
                </mat-form-field>
            </div>
    
            <div>
                <label for="status">Status</label>
                <div>
                    <mat-radio-group [(ngModel)]="profissional.status" name="status">
                        <mat-radio-button value="Ativo">Ativo(a)</mat-radio-button>
                        <mat-radio-button value="Inativo">Inativo(a)</mat-radio-button>
                    </mat-radio-group> 
                </div>
            </div>
    
            <div class="div-column-gap">
                <label for="daysOfWeek">Dias de Atendimento</label>
                <div class="days-checkbox-group">
                    <mat-checkbox *ngFor="let day of daysOfWeek">
                        {{ day.name }}
                    </mat-checkbox>
                </div>
            </div>
        </div>
        <section class="footer-buttons">
            <div> 
                <button mat-fab extended color="tertiary" [routerLink]="['/crud-list']">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    Voltar
                </button>
            </div>
            <div> 
                <button mat-fab extended color="primary" (click)="save()">
                    <mat-icon>check</mat-icon>
                    Salvar Cadastro
                </button>
            </div>
        </section>
    </div>
</div>